body {
    padding:20px;
    font-family: sans-serif;
}

/* tutaj stylowanie */
table {
    border-collapse: collapse;
    border: 2px solid #888;
}

table th {
    border: 1px solid #aaa;
    background-color: gold;
    padding: 20px;
}

table td {
    border: 1px solid #aaa;
    padding: 20px;
}